name: Deploy Frontend to Railway

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Deploy to Railway
        # Reemplaza 'MexNatureWeb' con el nombre que le daremos al servicio en Railway
        run: railway up --service MexNatureWeb --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}